@import 'tailwindcss';

@font-face {
  font-family: 'brBold';
  src: url('/fonts/brBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'brRegular';
  src: url('/fonts/brRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wanted Sans';
  src: url('/fonts/WantedSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wanted Sans';
  src: url('/fonts/WantedSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wanted Sans';
  src: url('/fonts/WantedSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-point: #ff690b;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.205 0 0);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-border: oklch(0.922 0 0);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
  --radius-2xl: calc(0.625rem + 8px);
  --font-brBold: 'brBold', sans-serif;
  --font-brRegular: 'brRegular', sans-serif;
  --font-wantedSans: 'Wanted Sans', sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-wantedSans);
  }
}

.font-brBold {
  font-family: var(--font-brBold);
}

.font-brRegular {
  font-family: var(--font-brRegular);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
